* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0 auto 0;
}

/* Building mobile first: */
/*Headers*/
.header {
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 20px;
}

.subheading {
  font-size: 12px;
}

.headline {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 10px 0 10px 0;
}

/*Youtube*/
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: -10%;
  width: 83.33%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

/*Sleep Idea Grid*/

.sleep-ideas-grid {
  width: 80%;
}

.idea-grid-item img {
  max-width: 100%;
}

#ideas a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-bottom: 30px;
}

#ideas p {
  padding-bottom: 10px;
}

.link {
  text-align: center;
  margin-bottom: 60px;
}

/*Product Grid*/

.product-grid {
  width: 100%;
  font-size: 12px;
}

.product-grid a {
  text-align: center;
  color: black;
}

.product img {
  max-width: 100%;
}

/*Sleep tips carousel*/

#fourth-header {
  margin-top: 100px;
}
.carousel-item {
  display: none;
  border: 1px solid grey;
  position: relative;
}

.carousel-container {
  max-width: 100%;
  position: relative;
}

.seq-image .second {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.seq-image img {
  width: 100%;
  left: 0;
  position: relative;
}

.item-details {
  width: 100%;
  font-size: 10px;
  margin: auto;
  float: right;
  height: 50%;
}
.item-details h3 {
  width: 100%;
  color: #316497;
}


/*Carousel buttons*/

#carousel {
  max-width: 100%;
}

.carousel-button {
  position: absolute;
  margin-top: 30%;
  background-color: #316497;
  z-index: 3;
  border-radius: 5px;
}

#right {
  transform: scaleX(-1);
  right: 0;
}

.hide {
  opacity: 0;
}

#left {
  left: 0;
}

/*Fade animation*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Social buttons*/
.social-button {
  position: absolute;
  width: auto;
  margin-top: 80%;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #316497;
  z-index: 3;
}

.twitter {
  margin-left: 40%;
}

.facebook {
  margin-left: 60%;
}

/* For desktop: */
@media only screen and (min-width: 480px) {
  /*Headlines*/
  .header {
    width: 70%;
    text-align: center;
  }
  .subheading {
    font-size: 12px;
  }
  /*Youtube*/
  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: -10%;
    width: 83.33%;
  }

  /*Sleep ideas grid*/
  .sleep-ideas-grid {
    width: 100%;
    margin-left: 20px;
  }

  .idea-grid-item {
    width: 31%;
    margin: 10px;
    float: left;
    height: 50%;
  }
  /*Product Grid*/
  .product-grid {
    width: 80%;
    padding-bottom: 35%;
  }

  .product {
    width: 23%;
    margin: 1%;
    float: left;
    height: 50%;
  }

  /*Sleep tips carousel*/
  .carousel-button {
    position: absolute;
    top: 20%;
    width: auto;
    margin-top: 70px;
    background-color: #316497;
  }

  .carousel-item {
    display: none;
    border: 1px solid grey;
    position: relative;
  }

  .carousel-container {
    max-width: 100%;
    position: relative;
  }

  .seq-image .second {
    position: absolute;
    z-index: 2;
    width: 50%;
  }

  .seq-image img {
    width: 50%;
    left: 0;
    position: relative;
  }

  .item-details {
    width: 40%;
    height: auto;
    font-size: 10px;
    margin: 10% 10% 0 0;
    text-align: left;
    font-size: 20px;
  }

  .item-details h3 {
    color: #316497;
  }


}
