* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0 auto 0;

}

/* Building mobile first: */
.header {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

.headline {
  text-transform: uppercase;
  font-size: 1em;
  margin: 10px 0 10px 0;
}

[class="col-3"] {
    width: 50%;
    float: left;
    height: 50%;
}

/* For desktop: */
@media only screen and (min-width: 480px) {
  .col-3 {
    width: 23%;
    margin: 1%;
    float: left;
    height: 50%;
  }
  .col-4 {
    width: 31%;
    margin: 1%;
    float: left;
    height: 50%;
  }
  .header {
    width: 40%;
    text-align: center;
   }
  .intro-text {
    font-size: 12px;
  }

  .youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    width: 83.33%;
  }

  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .col-12 {
    width: 100%;
  }
}


.carousel-item {
  display: none;
}

.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.seq-image img {
  width: 100%;
  margin: 1%;
  float: left;
  height: 50%;
}

.item-details{
  width: 23%;
  margin: 1%;
  float: left;
  height: 50%;
}

.poster-wrap {
  max-width: 100%;
}

.player {
  width: 100%;
  height: auto;
}

.col-4 img {
  max-width: 100%;
}

.col-3 img {
  max-width: 100%;
}

#right {
  transform: scaleX(-1);
  right: 0;
}

#left {
  left: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
}





/*body {
  font-family: Verdana;
}

.header {
  text-align: center;
  margin: 0 auto 0;
  padding: 0 10% 0 10%;
}

.intro-text {
  font-size: 1em;
}

iframe {
  width: 100%;
  height:auto;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item {
  float: left;
  margin: 2%;
  width: 28%;
  height: 50%;
  font-size: 12px;
}

.item a {
  text-decoration: none;
  color: black;
}

.link {
  text-align: center;
}

#products a {
  text-align: center;
  color: black;
}

.grid-image {
  width: 100%;
}
*/
